body{
  background-color: rgb(17, 4, 4);
}

.logo-image{
  height: 100px;
  width: 250px;
}

.title-container{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.image-container{
  display: inline-block;
  width: 45%;
}

.image-container > img{
  height: 250px;
  width: 259px;
  margin-top: 10px;
  float: left; 
  margin-right: 20px;
}

.right{
  margin-left: 50px;
}

h3.image-title, p.image-description{
  text-align: left;
  padding: 5px;
}

h1,h3,p{
  color: rgb(243, 238, 238);
}

div.footer-text h3{
  color: rgb(131, 25, 230);
  float: right;
}

@media (max-width: 1260px){
  body{
    text-align: center;
  }
  
  .image-container{
    width: 50%;
    width: 0 auto;
  }

  .image-container img{
    margin-top: 20px;
    text-align: justify;
  }

  .right{
  margin-left: 0;
}

}